body {
    background-color: lightblue;
 
  }

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'arial', 'verdana', sans-serif
}

h2 {
    font-size: 30px;
    font-family: 'arial', 'verdana', sans-serif
}

h3{
  font-size: 22px;
}

  #paragraph2 {
    background-color: white;
    line-height: 30px;
    width: 920px;
    border: 4px solid green;
    padding: 25px;
    margin: 20px;
  }

  .blue {
    background-color: darkblue;
    text-align: left;
    line-height: 25px;
    color: white;
    border: 4px solid darkblue;
    padding: 10px;
    margin: 20px 1px 20px 1px;
  }

  ol {
    font-size: 22px;
    list-style-type: decimal-leading-zero;
  }

  a {
    color: darkblue;
    text-decoration: underline;
  }

  article section p a {
    color: darkred;
    text-decoration: underline;
  }

  table {
    border-collapse:collapse;
  }
  
  th {
    border: 1px solid black;
    background-color: lightgray;
    padding: 8px;
    font-size: 14px;
    text-align: center;
  }

  td {
    border: 1px solid black;
    background-color: white;
    padding: 8px;
    text-align: left;
    font-size: 14px;
  }
