body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightcyan;
}

#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    background-color: lightblue;
    padding: 15px;
    box-sizing: border-box;
}

main {
    margin-left: 10%;
    padding-top: 120px;
}

header {
    position: fixed;
    top: 0;
    left: 10%;
    right: 0;
    height: 100px;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    margin: 0 0 10px 0;
    font-size: 35px;
    font-weight: bold;
    color: black;
}

header nav {
    display: flex;
    gap: 12px;
}

header nav button {
    background-color: teal;
    color: white;
    padding: 5px;
    font-size: 12px;
}

h1 {
    margin: 10px 10px 10px 35px
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 35px;
}

p::first-letter {
    font-size: 36px;
  }
  
  p a {
    font-size: medium;
  }

article {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: mintcream;
}

#thanks {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: white;
    background-color: teal;
    padding: 30px;
    border-radius: 5px;
}

footer {
    margin: 30px;
}
