body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightcyan;
}

#jumpMenu {
    list-style: none;
    display: none;  
    background-color: lightblue;
    padding: 15px;
}

#jumpMenu a {
    color: navy;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    display: block;
}

#jumpMenu a:hover {
    background-color: teal;
    color: white;
}

#menuItems {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    background-color: lightblue;
    padding: 0;
    box-sizing: border-box;
}

#menuItems button {
    width: 100%;
    padding: 10px;
    background-color: teal;
    cursor: pointer;
    color: white;
    border: none;
}

#menuItems button:hover {
    background-color: darkslategray;
}

#menuItems:hover #jumpMenu {
    display: block;
}

main {
    margin-left: 10%;
    padding-top: 120px;
}

header {
    position: fixed;
    top: 0;
    left: 10%;
    right: 0;
    height: 80px;
    background-color: lightskyblue;
    display: flex;
    z-index: 20;
    flex-direction: column;
    align-items: center;
}

header p {
    margin: 0 0 10px 0;
    font-size: 35px;
    font-weight: bold;
    color: black;
}

h1 {
    margin: 10px 10px 10px 35px
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 35px;
}

article p:first-of-type::first-letter {
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
}

  article {
    width: 300px;
    padding: 15px;
    background-color: mintcream;
    color: grey;
    transform: scale(1);      
    transition: color 2s ease, transform 2s ease;
}

article:hover {
    color: black;    
    transform: scale(1.08); 
}

article a[href*="google.com"]::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url("arrow.png");
}

article p:last-of-type a {
    font-size: small;
    text-decoration: none;
}

#thanks {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: white;
    background-color: teal;
    padding: 30px;
    border-radius: 5px;
}

footer {
    margin: 30px;
}
